 *{
   text-decoration: none;
 }

  .scoreboard {
    border-radius: 75px;
      margin: 8% 20% 4%;
      border: 1px solid #cbccce;
    background: #ffffff;
    display: list-item;
    /* grid-template-rows: 2rem minmax(3rem, 1fr) minmax(3rem, 1fr) 2rem; */
    grid-template-columns: minmax(8rem, 1fr) 6rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media only screen and (min-width: 500px) {
    .scoreboard {
      grid-template-columns: minmax(8rem, 1fr) repeat(4, 2rem) 6rem;
    }
  }

  .scoreboard .title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #cbccce;
    padding: 0 1rem;
    color: #7c7f84;
    font-size: 0.9rem;

  }
  @media only screen and (min-width: 500px) {
    .scoreboard .title {
      grid-column: 0 / span 2;
    }
  }
  .scoreboard .spacer {
    display: none;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .spacer {
      display: block;
      /*grid-column: 2 / span 4;*/
      grid-row: 1 / span 1;
      /*display: flex;*/
      flex-direction: row;
      border-bottom: 1px solid #cbccce;
    }
    .scoreboard .spacer span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      /*font-size: 0.9rem;*/
    }
  }
  .scoreboard .total {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-bottom: 1px solid #cbccce;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    color: #57595c;
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .total {
      grid-column: 6 / span 1;
    }
  }
  .scoreboard .team {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 1rem;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .team {
      grid-column: 1 / span 6;
    }
  }
  .scoreboard .team.winner .team__total,
  .scoreboard .team.winner .team__details--name,
  .scoreboard .team.winner .team__score {
    color: #656c79;
  }
  .scoreboard .team.winner .team__total:after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #656c79 transparent transparent;
  }
  .scoreboard .team__details {
    padding: 0 0.5rem;
    padding-right: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 4rem 1fr;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .team__details {
      padding-right: 4rem;
    }
  }
  .scoreboard .team__details--logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .scoreboard .team__details--logo img {
    max-width: 100%;
  }
  .scoreboard .team__details--name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 0.5rem 0;
    padding-left: 1rem;
    font-weight: 700;
    color: #9a9faa;
  }
  .scoreboard .team__details--standings {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding-left: 1rem;
    color: #b5b9c2;
    font-size: 0.7rem;
  }
  .scoreboard .team__score {
    display: none;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .team__score {
      display: block;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: #9a9faa;
    }
  }
  .scoreboard .team__total {
    position: relative;
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: #9a9faa;
  }

  .scoreboard .note {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    color: #b5b9c2;
    font-size: 0.75rem;
    border-top: 1px solid #cbccce;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media only screen and (min-width: 500px) {
    .scoreboard .note {
      grid-column: 1 / span 6;
    }
  }

  .inputTextBig {
    margin-top: 29px;
    margin-bottom: 10px;
    height: 30px;
}

.inputSubmit {
  position: relative;
  background-color: rgb(72, 93, 133);
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.inputSubmit:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.inputSubmit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button_style {
    display: flex;
    justify-content: center;
}

.aws-btn {    --button-default-height: 50px;
    --button-default-font-size: 21px;
    --button-default-border-radius: 19px;
    --button-horizontal-padding: 26px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2.5;
    --transform-speed: 0.275s;
    --button-primary-color: #6b0000;
    --button-primary-color-dark: #878787;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #95c9e4;
    --button-primary-border: none;
    --button-secondary-color: #fafafa;
    --button-secondary-color-dark: #67cbc3;
    --button-secondary-color-light: #349890;
    --button-secondary-color-hover: #ecf9f8;
    --button-secondary-border: 2px solid #b3e5e1;
    --button-anchor-color: #95d44a;
    --button-anchor-color-dark: #52a934;
    --button-anchor-color-light: #3f8228;
    --button-anchor-color-hover: #89cf35;
    --button-anchor-border: 2px solid #5bbd3a;}