@font-face {
  font-family: MyFirstFont;
  src: url(AvengeroRegular-zvgl.ttf);
}

.welcome_to_marvel_ai {
  font-family: MyFirstFont, sans-serif;
  /*font-family: "avengers", sans-serif;*/
  /*font-size: 1px;*/
  background: #571414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.words {
  color: #571414;
  font-size: 0;
  line-height: 1.5;
  display: inherit;
}

.words span {
  font-size: 4rem;
  display: inline;
  animation: move 7s ease-in-out infinite;
  white-space: nowrap;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.99);
  }
  100% {
    transform: translate(10%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.subtitle {
  color: #8b8b8b;
}

.aws-btn {
--button-default-height: 50px;
--button-default-font-size: 21px;
--button-default-border-radius: 19px;
--button-horizontal-padding: 26px;
--button-raise-level: 5px;
--button-hover-pressure: 2.5;
--transform-speed: 0.275s;
--button-primary-color: #6b0000;
--button-primary-color-dark: #878787;
--button-primary-color-light: #ffffff;
--button-primary-color-hover: #95c9e4;
--button-primary-border: none;
--button-secondary-color: #fafafa;
--button-secondary-color-dark: #67cbc3;
--button-secondary-color-light: #349890;
--button-secondary-color-hover: #ecf9f8;
--button-secondary-border: 2px solid #b3e5e1;
--button-anchor-color: #95d44a;
--button-anchor-color-dark: #52a934;
--button-anchor-color-light: #3f8228;
--button-anchor-color-hover: #89cf35;
--button-anchor-border: 2px solid #5bbd3a;
}

